<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Add New Currency</title>
</head>
<body>
<h1>Add New Currency</h1>
<form action="${pageContext.request.contextPath}/currencies" method="POST">
    Code: <label>
        <input type="text" name="currencyCode" required />
    </label>
    <br><br>
    Full name of currency: <label>
        <input type="text" name="currencyName" required />
    </label>
    <br><br>
    Sign: <label>
        <input type="text" name="currencySign" required />
    </label>
    <br><br>
    <input type="submit" value="Add Currency" />
</form>
<p><a href="${pageContext.request.contextPath}/currencies">View All Currencies</a></p>
</body>
</html>